/* Asegurarnos de que los clientes y botones están alineados correctamente */
.client-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* Espacio entre cada elemento */
  margin-bottom: 10px; /* Margen entre cada cliente */
}

.client-info span {
  flex-grow: 1; /* El texto del cliente toma todo el espacio posible */
}

.edit-button,
.delete-button {
  margin-left: 5px;
}
